<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="RAP Target Platform" sequenceNumber="37">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rap.e4.target.feature.feature.group" version="0.9.0.201412050704"/>
<repository location="jar:file:/Volumes/Shorty_JetDrive_1/dev/rap_target_platform/site_assembly.zip!/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rap.feature.feature.group" version="3.0.0.20141110-1349"/>
<unit id="org.eclipse.rap.examples.feature.feature.group" version="3.0.0.20141110-1130"/>
<unit id="org.eclipse.rap.sdk.feature.feature.group" version="3.0.0.20141110-1349"/>
<unit id="org.eclipse.rap.equinox.target.feature.feature.group" version="3.0.0.20141105-1434"/>
<repository location="http://download.eclipse.org/rt/rap/3.0"/>
</location>
</locations>
<environment>
<os>macosx</os>
<ws>cocoa</ws>
<arch>x86_64</arch>
<nl>de_DE</nl>
</environment>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.6 -XstartOnFirstThread -Dorg.eclipse.swt.internal.carbon.smallFonts -XX:MaxPermSize=512m -Xms40m -Xmx2048m -Xdock:icon=../Resources/Eclipse.icns -XstartOnFirstThread -Dorg.eclipse.swt.internal.carbon.smallFonts</vmArgs>
</launcherArgs>
</target>
